# Python
__pycache__/
*.pyc

# Virtual environment
venv/
backend/venv/

# Environment variables
.env
backend/.env

backend/flask_sessions/


# Logs
logs/


# Uploaded files
backend/uploads/

# Node
node_modules/

# OS files
.DS_Store